<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/WydenLogo.jpeg') }}" />
    <title>UniFBVem</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyModalStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eventModalStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modalStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eventCards.css') }}">
  </head>
  <body>
    <header>
      <h4>UniFBVem</h4>
      <nav>
        <a>Atrações</a>
        <a href="./more" target="_blank">Saiba Mais</a>
        <a>Anúnico</a>
        <button class="checkout-button buy-modal-trigger">Comprar</button>
      </nav>
    </header>

    <div id="firstPost">
      <h1>Atenção! Todos os servidores foram derrubados</h1>
      <p>
        O sistema caiu para anunciar a maior calourada tech da região
        metropolitana do Recife!
      </p>
      <p>Escalando todos os garotos e garotas de "Programa" da região!</p>
      <img
        alt="Party Image"
        src="{{ url_for('static', filename='images/Image - Drag in to fill..png') }}""
        id="Banner"
      />
    </div>

    <main>
      <div class="main-header-wrapper">
        <h4>Próximos eventos</h4>
        <p>
          Abaixo estão nossa seleção principal de eventos para você participar.
          NÃO PERCA TEMPO!
        </p>
      </div>

      <div id="events-container">
        <button class="card add-new-event event-modal-trigger" data-title="Anuncie aqui">
          <i class="ph-thin ph-plus-circle add-new-event-icon"></i>
        </button>
      </div>
    </main>
    <div id="infoContainer">
      <div id="infoBox">
        <div id="infoEvent">
          <h2>Sobre o Evento:</h2>

          <h3>Local: Em breve...</h3>
          <h3>Horário: Em breve...</h3>
          <h3>Bebidas: Em breve...</h3>
        </div>
        <div id="infoEvent">
          <h2>Atrações</h2>
          <h3 class="atraction">Vintage Culture</h3>
          <h3 class="atraction">Alok</h3>
          <h3 class="atraction">KVSH</h3>
        </div>
      </div>
    </div>
    <footer>
      <div id="devContainer">
        <h4>Desenvolvedores:</h4>
        <div id="devs">
          <p>Caio Tozer</p>
          <p>João Pedro Nascimento</p>
          <p>Gabriel Noronha</p>
          <p>João Vitor Albuquerque</p>
        </div>
      </div>
      <div id="rightContainer">
      <div id="footerTitle">
      <h4>Calourada Wyden</h4>
      <p>Festa promovida pelo CIN da UniFBV</p>
    </div>
    
    <button class="buy-modal-trigger" id="buttonFooter">Comprar ingresso</button>
    </footer>

    <!-- Buy modal -->
    <div id="buy-modal" class="modal">
      <div class="modal-content">
        <header>
          <h3>Comprar ingresso - UniFBVem</h3>
          <div class="close-buy-modal close-modal">
            <i class="ph ph-x"></i>
          </div>
        </header>
        
        <form class="modal-form buy-modal-form">
          <label class="name">
            <span>Nome Completo</span>
            <input type="text" placeholder="Digite aqui...">
          </label>

          <label class="email">
            <span>E-mail</span>
            <input type="text" placeholder="Digite aqui...">
          </label>
          
          <label class="ticket-type">
            <span>Tipo de ingresso</span>
            <select name="ticket-type" id="ticket-type">
              <option value="">Selecione</option>
              <option value="vip">VIP</option>
              <option value="premium">Premium</option>
              <option value="standart">Básico</option>
            </select>
          </label>

          <label class="ticket-price">
            <span>Valor do ingresso</span>
            <input type="text" disabled id="ticket-price-input">
          </label>

          <div class="actions">
            <button type="submit" class="danger-background">Cancelar</button>
            <button type="submit" class="success-background">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/buyModalHandler.js') }}"></script>

    <!-- Event modal -->
    <div id="event-modal" class="modal">
      <div class="modal-content">
        <header>
          <h3>Criar um novo evento</h3>
          <div class="close-event-modal close-modal">
            <i class="ph ph-x"></i>
          </div>
        </header>
        
        <form class="modal-form event-modal-form">
          <label class="event-thumb">
            <span>Selecione a imagem do evento aqui</span>
            <span><i class="ph ph-image"></i></span>
            <input type="file" accept="image/*" name="event-thumb" id="event-thumb-input" hidden>
          </label>

          <label class="event-name">
            <span>Nome do evento</span>
            <input type="text" placeholder="Digite aqui..." id="input-title">
          </label>

          <label class="event-date">
            <span>Quando vai ser o evento?</span>
            <input type="date">
          </label>

          <label class="event-time">
            <span>Que horas será o evento?</span>
            <input type="time">
          </label>

          <label class="event-address">
            <span>Onde acontecerá o evento?</span>
            <textarea type="text" placeholder="Digite aqui..."></textarea>
          </label>

          <label class="event-obs">
            <span>Observações</span>
            <textarea type="text" placeholder="Digite aqui..."></textarea>
          </label>

          <div class="actions">
            <button type="submit" class="danger-background">Cancelar</button>
            <button type="submit" class="success-background">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/eventModalHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/allEventsInfo.js') }}"></script>
  </body>
</html>
