{% extends 'base.html' %}

{% block content %}
    <div class="more-content">
        <h1 class="darker-text-center">Alunos responsáveis pelo site:</h1>
         
        <div id="people_container">
            <section class="section_name">
                <h2 class="nome darker-text-center">João Vitor Albuquerque</h2>
                <p>
                    Me chamo João Vitor, atualmente estou cursando 2° período de Ciência da Computação.E estudando SQL e Python.
                </p>
            </section>
        
            <section class="section_name">
                <h2 class="nome darker-text-center">Gabriel Noronha</h2>
                <p>
                    Olá, sou Gabriel Noronha, um desenvolvedor Web apaixonado por tecnologia e apredizado contínuo. Cursando o 2° período de Ciência da Computação.
                </p>
            </section>
        
            <section class="section_name">
                <h2 class="nome darker-text-center">Caio Tozer</h2>
                <p>
                    Meu nome é Caio Tozer,sou desenvolvedor Web Full Stack.Atualmente no 2°período de Ciência da Computação na   Wyden
                </p>
            </section>

            <section class="section_name">
                <h2 class="nome darker-text-center">João Pedro</h2>
                <p>Meu nome é João Pedro, atualmente estou cursando Ciência da Computação e focado em Desenv Web.</p>
            </section>
        </div>
    </div>

{% endblock %}